<% @bachelorette.contestants.each do |contestant|%>
  <div id="contestant-<%= contestant.id %>">
    Name: <%= contestant.name %><br>
    Age: <%= contestant.age %><br>
    Hometown: <%= contestant.hometown %><br>
  </div>
<% end%>
