<section id="b-details">
  Name<%= @bachelorette.name %>, Season Number: <%= @bachelorette.season.id %><br>
  <p>Season Description: <%= @bachelorette.season.description %></p>
</section>

<%= link_to "Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>

